body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: rgb(36, 32, 34);
    color: white ;
  }
.title{
  color: rgb(86, 109, 49) ;
  font-weight: 700;
  letter-spacing: 2px;
  width: 390px;
  background-color: rgba(253, 246, 37, 0.591);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.move-icon{
  width: 50px;
  height: 50px;
  
}
.move-button{
  background-color:transparent;
  border: 3px solid rgb(215, 210, 210);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 10px;
}
.result{
  font-size: 25px;
  font-weight: 700;
  margin-top: 50px;
}
.score{
  margin-top: 50px;
}
.reset-score, 
.Auto-play{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
}